/*Custom Styles*/

body {
    font-family: "Poiret One", cursive;
    color: #747704;
    font-weight: 300;
}

.title-super {
    font-size: 60px;
}

.title-img {
    margin: 10px;
}

hr {
    border-color: #747704;
}

.modal-text {
    font-family: "Roboto", sans-serif;
    color: #245269;
}