body {
    text-align: center;
    background-color: #FFFFFF;
}

#score,
#lives {
}

#score,
#lives{
    color: white;
}

#scoreboard {
    background-image: url("../images/scoreboard.PNG");
    height: 100%;
    width: 606px;
    margin-left: calc(50% - 303px);
}

